<template>
  <modal name="edit-form" width="340" height="auto" @before-open="beforeOpen" class="modal-wrapper">
    <div class="modal-title">
      Edit project
    </div>
    <div class="modal-logo">
      <img :src="project.logo_url || '//placehold.it/100/100'" :alt="project.name" :title="project.name">
    </div>
    <div class="modal-input-wrapper">
      <label for="name" class="modal-input-label">Name</label>
      <input v-model="project.name" class="modal-input" id="name">
    </div>
    <div class="modal-input-wrapper">
      <label for="name" class="modal-input-label">Status</label>
      <input class="modal-input" :value="project.is_active ? 'Active' : 'Inactive'" :disabled="true">
    </div>
    <div class="durations">
      <div class="row">
        <span>Time this week</span><span>{{ getTimeSpent(project.spent_time_week) }}</span>
      </div>
      <div class="row">
        <span>This month</span><span>{{ getTimeSpent(project.spent_time_month) }}</span>
      </div>
      <div class="row">
        <span>Total</span><span>{{ getTimeSpent(project.spent_time_all) }}</span>
      </div>
    </div>
    <div class="vue-dialog-buttons">
      <button class="button" @click="closeModal">
        Cancel
      </button>
      <button class="button" @click="updateName">
        Update
      </button>
    </div>
  </modal>
</template>

<script>
import { getTimeSpent } from '@/utils/common'

export default {
  name: 'EditForm',
  data () {
    return {
      project: {}
    }
  },
  methods: {
    getTimeSpent,
    beforeOpen (event) {
      this.project = { ...event.params.project }
    },
    closeModal() {
      this.$modal.hide('edit-form')
    },
    async updateName () {
      await this.$store.dispatch('updateProject', this.project)
      this.closeModal()
    }
  }
}
</script>

<style lang="scss">
.modal-wrapper {
  .modal-title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
  }
  .modal-input-wrapper {
    margin-bottom: 20px;
    .modal-input-label {
      font-size: 12px;
      text-transform: uppercase;
      color: #444;
    }
    .modal-input {
      border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    margin: 5px 0;
    box-shadow: 1px 1px 2px rgba(255,255,255, 0.4);
    &:disabled {
      border: none;
      border-bottom: 1px dashed #ddd;
    }
  }
  }
  .modal-logo {
    text-align: center;
    img {
      width: 100px;
      max-width: 100%;
    }
  }
  .durations {
    .row {
      display: flex;
      margin: 4px 0;
      justify-content: space-between;
      span {
        margin: 0 2px;
      }
    }
  }
}
</style>
