<template>
  <div class="project-item" @click="handleClickItem()">
    <div class="img-holder">
      <img :src="project.logo_url || '//placehold.it/100/100'" :alt="project.name" :title="project.name">
    </div>
    <div class="title">
      {{ project.name }}
    </div>
    <div :class="{status: true, inactive: !project.is_active}">
      {{ project.is_active ? 'Active' : 'Inactive' }}
    </div>
    <div class="info">
      <div class="info-row">
        <span>Time this week</span><span>{{ getTimeSpent(project.spent_time_week) }}</span>
      </div>
      <div class="info-row">
        <span>This month</span><span>{{ getTimeSpent(project.spent_time_month) }}</span>
      </div>
      <div class="info-row">
        <span>Total</span><span>{{ getTimeSpent(project.spent_time_all) }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { getTimeSpent } from '@/utils/common'

export default {
  name: 'ProjectItem',
  props: ['project'],
  methods: {
    getTimeSpent,
    handleClickItem() {
      this.$modal.show('edit-form', { project: this.project })
    }
  }
}
</script>

<style lang="scss">
.project-item {
  background: #fff;
  max-width: 100%;
  width: 400px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s linear;
  &:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  }
  .img-holder {
    width: 50px;
    img {
      width: 100%;
    }
  }
  .status {
    font-weight: bold;
    color: green;
    &.inactive {
      color: red;
    }
  }
  .info {
    .info-row {
      display: flex;
      margin: 4px 0;
      justify-content: space-between;
      span {
        margin: 0 2px;
      }
    }
  }
}
</style>
