html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(244,244,244);
}

.button, .vue-dialog-button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: rgb(44,72,110);
  border: none;
  border-radius: 4px;
  padding: 8px 32px;
  box-shadow: 1px 1px 2px rgba(255,255,255, 0.4);
  transition: 0.2s linear;
  margin-top: 10px;
  &:disabled {
    background: #ddd;
  }
  &:hover {
    opacity: 0.7;
  }
}

.v--modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  z-index: 100;
  .v--modal-box {
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    .vue-dialog-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .button {
        flex-basis: auto !important;
        flex-grow: 0 !important;
      }
    }
  }
}

.error-wrapper {
  border-radius: 4px;
  border: 1px solid #c72626;
  background: #f1a8a8;
  padding: 10px 20px;
  margin: 20px auto;
  width: 340px;
  max-width: 100%;
  p {
    text-transform: initial;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
}
