<template>
  <div class="page-main">
    <EditForm />
    <div class="nav">
      <div class="logo">
        Q
      </div>
      <ul>
        <li>
          <nuxt-link to="/">
            Products
          </nuxt-link>
        </li>
        <li>
          <a href="#" @click="logout">Logoout</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div>
        <Error :message="$store.state.error" />
        <ProjectItem v-for="(item, index) in $store.state.projects" :key="index" :project="item" />
      </div>
    </div>
  </div>
</template>

<script>
import EditForm from '@/components/EditForm'
import ProjectItem from '@/components/ProjectItem'
import Error from '@/components/Error'

export default {
  components: {
    ProjectItem,
    EditForm,
    Error
  },

  middleware: 'auth',

  async asyncData ({ params, store }) {
    await store.dispatch('fetchProjects')
  },

  methods: {
    haveProject() {
      return this.$store.state.projects.length > 0
    },
    async logout () {
      try {
        await this.$auth.logout()
        this.$store.dispatch('setUser', null)
        this.$router.replace('/login')
      } catch (e) {}
    }
  }
}
</script>

<style lang="scss">
.nav {
  padding: 10px 20px;
  width: 100%;
  background: #eee;
  border: none;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(255,255,255, 0.4);
  position: fixed;
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      a {
        text-decoration: none;
        color: #444;
        transition: 0.2s linear;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 10px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.container {
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
</style>
