<template>
  <div class="page-login">
    <form class="form-holder" method="post" @submit.prevent="login">
      <p class="title">
        Login
      </p>
      <input v-model="email" type="email" name="email" placeholder="Email">
      <input v-model="password" type="password" name="password" placeholder="Password">
      <button type="submit" class="button" :disabled="fieldsNotEmpty()">
        Login
      </button>
      <Error :message="error" />
    </form>
  </div>
</template>

<script>
import Error from '@/components/Error'

export default {
  components: { Error },

  data () {
    return {
      email: '',
      password: '',
      error: ''
    }
  },

  methods: {
    fieldsNotEmpty () { return this.email.trim() === '' || this.password.trim() === '' },
    async login () {
      try {
        this.error = ''
        const response = await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })
        // eslint-disable-next-line
        const { token, app_init } = response.data
        this.$store.dispatch('setUser', app_init.user)
        await this.$auth.setUser(app_init.user)
        // await this.$auth.setToken('local', token)
        this.$axios.setToken(token, 'Bearer')
        this.$router.replace('/')
      } catch (e) {
        if (e && e.response && e.response.data && e.response.data.first_errors) {
          const errors = e.response.data.first_errors
          this.error = Object.keys(errors).map(i => errors[i]).join('<br />')
        } else {
          this.error = 'Invalid data'
        }
      }
    }
  }
}
</script>

<style lang="scss">
.page-login {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-holder {
    width: 340px;
    max-width: 100%;
    margin: 10px 20px;
    .title {
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1;
      padding-bottom: 10px;
    }
    input {
      border: 1px solid #ccc;
      padding: 8px;
      width: 100%;
      margin: 5px 0;
      box-shadow: 1px 1px 2px rgba(255,255,255, 0.4);
    }
  }
}
</style>
